__pycache__/
*.py[cod]
*.swp
.DS_Store
.idea/
.vscode/

venv/
.env
*.env
*.env.*

pip-log.txt
pip-delete-this-directory.txt

*.log
*.out
*.err
logs/
*.sqlite3

*.egg
*.egg-info/
dist/
build/

.tox/
.pytest_cache/
.coverage
htmlcov/
*.cover

.mypy_cache/
.dmypy.json
.pyre/

*.pid
*.seed
.env.docker
.env.local